---
import Layout from '../layouts/Layout.astro';
import GenerateSummaryView from '../components/views/GenerateSummaryView';
---

<Layout title="Generate Summary | YTInsights" showNavigation={true}>
  <main class="container mx-auto px-4 py-8">
    <GenerateSummaryView client:load />
  </main>
</Layout>

