---
import ConfirmResetPasswordView from '@/components/views/ConfirmResetPasswordView';
import Layout from '@/layouts/Layout.astro';
---

<Layout title="Video Summary">
	<div class="container mx-auto flex h-screen items-center justify-center">
		<ConfirmResetPasswordView client:load />
	</div>
</Layout>
