---
import { Toaster } from '@/components/ui/sonner';
import { Header } from '@/components/ui/header';

export interface Props {
	title: string;
    showNavigation?: boolean;
}

const { title, showNavigation = false } = Astro.props;
const currentPath = Astro.url.pathname;
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Astro description" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
	</head>
	<body>
        {showNavigation && <Header client:load currentPath={currentPath} />}
		<slot />
		<Toaster client:load richColors />
	</body>
</html>

<style is:global>
  @import "tailwindcss";
</style>
